
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-sm-4 col-12 main-section text-center">
      	<div class="row profile-header">
      		<div class="col-lg-2 col-sm-2 col-2">
      			<a href="#" onclick="return false"><i class="fas fa-home"></i></a>
      		</div>
      		<div class="col-lg-8 col-sm-8 col-8">
      			<span>Profile</span>
      		</div>
      		<div class="col-lg-2 col-sm-2 col-2">
      			<a href="#" onclick="return false"><i class="fas fa-edit"></i></a>
      		</div>
      	</div>
      	<div class="row user-img">
      		<div class="col-lg-12 col-sm-12 col-12">
      			<img src="/assets/images/man01.png" class="rounded-circle img-thumbnail">
      			<h5>John Doe</h5>
      			<span>PLM Administrator</span>
      		</div>
		  </div>
		  <div class="userInfo">
			<!--user Info-->
			<dl class="row">
				<dt class="col-sm-3">UserName</dt>
				<dd class="col-sm-9">doejhon17</dd>
			  
				<dt class="col-sm-3">FullName</dt>
				<dd class="col-sm-9">
				  John Doe				  
				</dd>
			  
				<dt class="col-sm-3">Email</dt>
				<dd class="col-sm-9">john_doe@persistent.com</dd>
			  
				<dt class="col-sm-3">Role</dt>
				<dd class="col-sm-9">PLM Administrator</dd>
				<!--<dt class="col-sm-3">Role</dt>
				<dd class="col-sm-9">
				  <dl class="row">
					<dt class="col-sm-4">Nested definition list</dt>
					<dd class="col-sm-8">PLM Administrator</dd>
				  </dl>
				</dd>-->
			  </dl>
			
		  
			<!--user Info-->
		  </div>
      	<div class="row user-social-detail">
      		<div class="col-lg-4 col-sm-4 col-4">
      			<a href="#" onclick="return false"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      		</div>
      		<div class="col-lg-4 col-sm-4 col-4">
      			<a href="#" onclick="return false"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      		</div>
      		<div class="col-lg-4 col-sm-4 col-4">
      			<a href="#" onclick="return false"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</body>
