
<body>
    <div class="container">
      <div>
        <form role = "form" class="settings">

          <div class="settingheader">
            <label  for = "header">Settings </label>
          </div>
          <br>
          <div class = "form-group ">
             <label  for = "name">Pagination: </label>
             <!-- Rounded switch -->
             <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
             </label>
            </div>
            <div class="form-group"> 
              <label for = "name">Records Per Page</label>
      
              <select class = "form-control">
                 <option>5</option>
                 <option>10</option>
                 <option>15</option>
                 <option>25</option>
                 <option>50</option>
              </select>

            </div>

            <div class = "form-group ">
              <label  for = "name">Tooltip </label>
              <!-- Rounded switch -->
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
             </div>

             <div class="form-group"> 
              <label for = "name">How do you want to upload the Files</label>
      
              <select class = "form-control">
                 <option>Statically</option>
                 <option>On The Fly</option>
              </select>

            </div>

            <div>

            </div>
          
          <button type = "submit" class = "btn btn-default" Style="float:center">Apply</button>
       </form>
      </div>
    </div>
  </body>
  