
<body>
    <div class="container">
      <div>
        <form role = "form" class="settings">

          <h2 style="color:#4b4276 "> Settings</h2>
          <div class = "form-group ">
             <label  for = "name">Pagination </label>
            
             <!-- Rounded switch -->
             <span class="space"> 
             <label class="switch">
               <input type="checkbox">
               <span class="slider round"></span>
             </label>
            </span>
            </div>
            <div class="form-group"> 
              <label for = "name">Records Per Page</label>
      
              <select class = "form-control">
                 <option>5</option>
                 <option>10</option>
                 <option>15</option>
                 <option>25</option>
                 <option>50</option>
              </select>

            </div>

            <div class = "form-group ">
              <label  for = "name">Tooltip </label>
              <!-- Rounded switch -->
              <span class="space" style="padding-left:430px;">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </span>
             </div>

             <div class="form-group"> 
              <label for = "name">How do you want to upload the Files</label>
      
              <select class = "form-control">
                 <option>Statically</option>
                 <option>On The Fly</option>
              </select>

            </div>

            <div>

            </div>
          
          <!--<div class="text-center">-->
            <button type = "submit" class = "btn btn-default">Apply</button>
          <!--</div>-->
       </form>
      </div>
    </div>
  </body>
  