<div class="main">

    <!-- Load - transform-drilldown component -->
    <div class="upload-drill">
        <app-upload-drilldown></app-upload-drilldown>
    </div>

    <div class="btn-block">
        <i class="fas fa-hand-point-right fa-2x"></i>
    </div>
    <div class="btn-block">
        <!-- Error Preview Button -->
        <button class="errorBtn" mat-raised-button matTooltip="Click to view Error Preview" matTooltipPosition="below"
            matTooltipHideDelay="100" matTooltipClass="custom-tooltip" (click)="loadErrorPreview()">Error Preview
        </button>
    </div>
</div>