<h2 mat-dialog-title>Modify Data Mapping</h2>

<mat-dialog-content style="margin-left:-150px;">
    <!-- Load Data Mapping Component -->
    <app-datamapping [isParent]="isParent"></app-datamapping>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- Close Dialog button -->
    <button class="mat-raised-button" (click)="modifyMapping()" matTooltip="Modify selected Mapping"
        matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">Modify</button>
</mat-dialog-actions>