.list{
    float: left;
    width:75%;
    height:90vh;
    overflow-y: auto;
  
}
.separator{
    float:left;
    width:25px;
    height:75vh;
    background-color:white;
}
.tags{
    float: left;
    width:22%;
    height:75vh;
    overflow-y: auto;
}
mat-label, mat-select,mat-option,mat-form-field{
     color: #4b4276;    
}


    
* {box-sizing: border-box;}

.wrapper {
   
    border-radius: 5px;
         
}

.wrapper > div {
    border: 2px solid #4b4276;
    border-radius: 5px;
    /* background-color: #c4c1bd;  */
    background-color: rgb(243, 239, 233);
    padding: 1em;
    color: #4b4276;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.taglist:hover{ 
    font-weight: 800;
    /* box-shadow: 0 0 10px #4b4276; */
    box-shadow: 0 0 10px green;
    
 
}
.tagswrapper{
    padding:5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    
}
.tagstest:hover{
    font-weight: 800;
    box-shadow: 0 0 10px crimson;
    
}
.tagswrapper > div {
    border: 2px solid #4b4276;
    border-radius: 5px;
    /* background-color: #ffd8a8; */
    background-color: rgb(243, 239, 233);
    padding: 1em;
    color:#4b4276;
    
    
}
.footerbutton{
    position:absolute;
    width:25%;
    left: 75%;
    top: 92%;
    /* background-color: red; */
}
.fas {
    color: brown;
}
label {
    color: #4b4276;
    font-weight: 500;
    margin-top: 12px;
}