<div class="parent">

    <form style="display: flex;">
        <p style="color: brown; margin-top: 10px;">* Please click on below tag to add that into list</p>
        <!-- Search Filter -->
        <div class="search-data">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" value="Search..."
                    onfocus="if(this.value==this.defaultValue)this.value=''"
                    onblur="if(this.value=='')this.value=this.defaultValue">
                <mat-icon matSuffix><i class="fas fa-search fa-sm" aria-hidden="true" matTooltip="Search for Unique Tag"
                        matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"></i>
                </mat-icon>
            </mat-form-field>
        </div>
    </form>

    <div class="list">
        <div *ngIf="isEmpty" class="empty">
            <img src="/assets/images/smile.png" height="160" />
            <br>
            <br>
            <p><b style="color:green; font-size: large; margin-bottom: -15px;"> Congratulations!!</b>
                <mat-icon><i class="fas fa-thumbs-up fa-sm"></i></mat-icon>
            </p>
            <p style="color: #4b4276; font-size: 1.5rem;">All tags are Segregated!!</p>
        </div>

        <div class="wrapper">
            <!-- <mat-grid-list cols="3" *ngFor="let item of taglist">
                <mat-grid-tile class="cell" >
                    {{item.tagname}} </mat-grid-tile>
              </mat-grid-list>  -->
            <div class="taglist" matTooltip="{{item}}" matTooltipPosition="below" matTooltipHideDelay="100"
                matTooltipClass="custom-tooltip" *ngFor="let item of taglist">
                {{item}}
            </div>
        </div>
    </div>
    <div class="separator">
    </div>
    <div class="dropdown">
        <div>
            <mat-form-field appearance="fill" style="width: 205px; position: fixed;">
                <mat-label>Select Admin Type</mat-label>
                <mat-select [(ngModel)]="selectedAdminValue" #matSelect required>
                    <mat-option *ngFor="let type of adminTypeDropdownList" [value]="type.value">
                        {{type.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dropdown-block">
            <div class="tags">

                <div class="tagswrapper" (click)="ontagClick($event)">

                    <div matTooltip="Click to mark as Mandatory" matTooltipPosition="below" matTooltipHideDelay="100"
                        matTooltipClass="custom-tooltip" class="tagstest" *ngFor="let type of typelist">
                        {{type}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerbutton">
        <form class="footer">
            <!-- Apply button -->
            <button (click)="updateTypeNameDB()" mat-icon-button matTooltip="Create Admin Type List"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">
                <mat-icon><i class="fas fa-check-circle fa-lg" style="color:green; margin-left: 10px;"></i></mat-icon>
            </button>

            <label style="margin-left: 1.3vw;"> Apply</label>
            <label style="margin-left: 5.5vw;"> Preview</label>

            <!-- Segregation Preview button -->
            <button mat-icon-button matTooltip="Click to view Segregation Preview" matTooltipPosition="below"
                matTooltipHideDelay="100" matTooltipClass="custom-tooltip" (click)="loadSegregationPreview()">
                <mat-icon><i class="fas fa-hand-point-right fa-lg"></i></mat-icon>
            </button>
        </form>
    </div>


</div>