/* custom styling for heading  */

h3 {
    color: #4b4276;
    font-weight: 500;
}

/* custom styling for div  */

.parent {
    height: 35em;
    width: 52em;
}

.footer-block {
    position: fixed;
    top: 39em
}

.search-data {
    margin-left: 30em;
    margin-top: -10px;
    color: #4b4276;
}

/* custom styling for button  */

.closebtn {
    background-color: rgb(172, 71, 71);
    color: white;
    margin-left: 47.3em;
}

/* custom styling for form  */

.header-block {
    display: flex;
}