/* custom styling for table  */

.table-striped {
  text-align: center;
}

tbody {
  display: block;
  height: 400px;
  overflow: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th[scope="col"] {
  background-color: #4b4276;
  color: white;
  padding: 1px;
}

td {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  padding: 1px;
}

table tr:nth-child(odd) {
  background-color: #e8e8ec;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

/* custom styling for heading  */

h3 {
  font-size: large;
}

.main-filelist {
  position: fixed;
  left: 205px;
  /* top:-14px; */
  top: 49px;
  width: 85%;
  bottom: 50px;
}

/* custom styling for button  */

#btn {
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
}

/* custom styling for specific icons  */

.fa-trash-alt {
  color: red;
}

.fa-arrow-alt-circle-down {
  color: #67679b;
}

/* custom styling for search box  */

input[type="text"] {
  width: 20%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: rgb(104, 67, 134);
  box-shadow: 0 0 8px 0 rgb(104, 67, 134);
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
  left: 900px;
  top: -10px;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus+i {
  color: rgb(104, 67, 134);
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus+i {
  color: #fff;
  background-color: rgb(104, 67, 134);
}