/* custom styling for heading  */

h2 {
  color: #4b4276;
}

/* custom styling for div  */

.maindiv {
  position: fixed;
  top: 3.4em;
  left: 15em;
  width: 84.2vw;
  bottom: 10px;
}

.table-container {
  overflow: auto;
}
/* custom styling for Search box  */

.search-data {
  margin-left: 65em;
  color: #4b4276;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

/* custom styling for table  */

table {
  width: 100%;
}

.data-table {
  max-height: 23.4em;
  min-height: 23.4em;
  width: 84.2vw;
}

.mat-header-cell {
  background-color: #4b4276;
  color: white;
  font-weight: 500;
}

::ng-deep .mat-sort-header-arrow {
  color: white;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

tr.mat-header-row, tr.mat-row {
  height: 25px !important;
}

table tr:nth-child(odd) {
  background-color: #e8e8ec;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}


/* custom styling for paginator  */

.mat-paginator-sticky {
  position: sticky;
  color: #4b4276;
  font-size: 13px;
  font-weight: 500;
}

/* custom styling for specific icons  */

.fa-trash-alt {
  color: red;
}

.fa-arrow-alt-circle-down {
  color: #67679b;
}
