
<!-- Main Table -->
<div id ="checkFilesToBeTransformed">
    <div class="parent">
      <form class="header-block">
          <h2>Select Files To Load</h2>
  
          <!-- Search Filter -->
          <div class="search-data">
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)">
                  <mat-icon matSuffix><i class="fas fa-search fa-sm" aria-hidden="true" matTooltip="Search for Mapping"
                          matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"></i>
                  </mat-icon>
              </mat-form-field>
          </div>
      </form>
    </div>
   <div class="mat-elevation-z8 data-table">
      <table mat-table matSort [dataSource]="PartialLoadFileListDataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox  (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" >
                    <!-- (change)='onChange(row.filename)' -->
                </mat-checkbox>
    </td>
  </ng-container>
  
          <!-- Admin Type Column -->
          <!-- <mat-checkbox color='primary'></mat-checkbox> -->
          <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>FileName</th>
              <td mat-cell *matCellDef="let element" style="width: 30%;">{{element.fileName}}</td>
          </ng-container>
  
          <!-- Source Value Column -->
          <ng-container matColumnDef="fileType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>File Type </th>
              <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.fileType}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
  </div>
  
  <!-- Table Paginator -->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25,50,75,100]" class="mat-paginator-sticky">
  </mat-paginator>
  <br>
  <br>

  
  <button class="loadbtn" mat-raised-button (click)="triggerLoad()"
            matTooltip="Click to Load Selected Files"
            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
            >Load</button>
  






<!-- Footer buttons -->
<div class="footerbtn-block">
    <form class="footer-block">
  
        <!-- Back to Mapping Arrow button -->
        <button mat-icon-button  (click)="loadLanding()" matTooltip="Go back to Load"
            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">
            <mat-icon><i class="fas fa-arrow-alt-circle-left fa-lg"></i></mat-icon>
        </button>
  
        <label style="margin-left: 10px;"> Back</label>
        <!-- <label style="margin-left: 53vw;"> Check Status</label> -->
  
        <!-- Proceed for Transformation Arrow button -->
        <!-- <button mat-icon-button (click)="loadStatus()" matTooltip="Click to Check Load Status" matTooltipPosition="below"
            matTooltipHideDelay="100" matTooltipClass="custom-tooltip" [disabled]="isDisabled">
            <mat-icon><i class="fas fa-arrow-alt-circle-right fa-lg"></i></mat-icon>
        </button> -->
        <label style="margin-left: 53vw;"> Go To Dashboard</label>
  
        <!-- Proceed for Transformation Arrow button -->
        <button mat-icon-button (click)="moveToDashboard()" matTooltip="See Dashboard" matTooltipPosition="below"
            matTooltipHideDelay="100" matTooltipClass="custom-tooltip">
            <mat-icon><i class="fas fa-arrow-alt-circle-right fa-lg"></i></mat-icon>
        </button>
  
    </form>
  </div>