<br>
<br>
<form class="urltestform">
    
    <h2>ENOVIA Connection Verification</h2>
    <br>
    <br>
    <div class="urlrow">
    <div class="form-group row">
        <label for="Enoviaurl" class="col-sm-3 col-form-label">ENOVIA URL</label>
        <div class="col-sm-9 ">
          <input type="text" disabled class="urlfield" id="EnoviaURL" value="http://10.55.55.4:8070/internal/">
        </div>
    </div>
    </div>
    <br>
    <br>
    <button class="verifybtn" mat-raised-button matTooltip="Click to Verify Connection"
            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
            >Verify</button>
</form>
<!-- Footer buttons -->
<div class="footerbtn-block">
    <form class="footer-block">
  
        <label style="margin-left: 65vw;"> Proceed to Load</label>
  
        <!-- Proceed for Transformation Arrow button -->
        <button mat-icon-button  (click)="loadSelectFile()" matTooltip="Click to Proceed" matTooltipPosition="below"
            matTooltipHideDelay="100" matTooltipClass="custom-tooltip">
            <mat-icon><i class="fas fa-arrow-alt-circle-right fa-lg"></i></mat-icon>
        </button>
  
    </form>
  </div>
