h2 {
  text-align: center;
  margin-top: 10px;
  color: #4b4276;
}

#drop_zone {
  border: 3px brown dotted;
  height: 140px;
  border-radius: 20px 20px 20px 20px;
}

.btn {
  background-color: #4b4276;
  color: white;
  height: 35px;
  margin-top: 8px;
}

.main {
  width: 60vw;
  margin: auto;
  background-color: #faf6f6;
}

.filelists {
  max-height: 5em;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.file-list {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
}

.footerbtn-block {
  position: absolute;
  bottom: 0px;
}

label {
  color: #4b4276;
  font-weight: 500;
  margin-top: 15px;
}

p {
  text-align: center;
}

.fa-trash-alt {
  color: red;
}

#choose {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  transform: translate(+43%, -50%);
}

.fa-arrow-right {
  color: #4b4276;
  transform: translate(+950%, -50%);
}

.fa-arrow-alt-circle-right {
  color: brown;
}