#drop_zone {
  border: 3px #46b6d8 dotted;
  height: 140px;
}

.main{  
  width: 60vw; 
  margin: auto;


}
.custom-tooltip {
  background-color: #4b4276;
  font-size: 11px;
  }

.filelists{
  max-height: 7em; 
  margin: auto;  
  overflow-y: scroll;
  overflow-x: hidden;
}
.file-list {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;   
}

p {
  text-align: center; 
}
.fa-trash-alt {
  color: red;
}
#choose {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.center {
  transform: translate(+43%, -50%);
}

.fa-arrow-right{
  color: #4b4276;
  transform: translate(+950%, -50%);

}
