<!--<h3>Drag or Browse your file to upload</h3>-->
<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align: center">Drag or Browse your file's to upload</h1>

</div>
<div>
  <mat-card style="width: 50vw; margin: auto">

    <div id="drop_zone" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
      <p>Drag and Drop File here...</p>
      <i class="fas fa-upload fa-5x"></i>
    </div>

    <br>
    <div class="choose">
      <p>or</p><br>
      <div class="center">
        <button #buttonElem mat-raised-button (blur)="onBlur()" multiple (click)="openDialog()">Choose a file</button>
      </div>

      <input #inputFile type="file" hidden multiple (click)="loading = true" (change)="onChange($event)">
    </div>


    <mat-card-header>
      <mat-card-title>File Upload</mat-card-title>
    </mat-card-header>
    <!-- <button mat-raised-button (click)="fileSelect.click()">Select File</button><br><br> -->
    <div *ngFor="let file of selectedFiles" class="file-list">
      <h4 *ngIf="file?.fileName.length > 0">{{file?.fileName}}</h4>
      <mat-progress-bar style="margin-top: 30px" mode="determinate" [value]="file?.uploadedPercent"></mat-progress-bar>
      <button mat-flat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteFile(file)">delete</mat-icon>
      </button>
    </div>


    <!-- <h4 *ngIf="name.length > 0">Selected File: {{name}}</h4>
          <input type="file" hidden #fileSelect name="largeFile" (change)="onFileSelect($event)" /> -->

    <button mat-raised-button (click)="uploadFiles()">Upload</button>
    <br><br>
  </mat-card>
</div>