<div>
    <mat-card class="main" style="background-color: #faf6f6">
        <div class="data-mapping">
            
            <!-- Admin Type form field -->
            <form class="adminType-block">
                <mat-label> Admin Type</mat-label>
                <!-- Admin Type dropdown -->
                <div class="adminType-list">
                    <mat-form-field style="width: 490px;">
                        <mat-select [(ngModel)]="selectedAdminValue" name="adminType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let adminType of adminTypeList" [value]="adminType">{{adminType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>

            <!-- Src-Dest values form field -->
            <form class="src-dst-value-block">
                <mat-label> Source Value</mat-label>
                <!-- Source value chooser -->
                <div class="src-dst-value-list">
                    <mat-form-field style="width: 180px;">
                        <input matInput type="text" [(ngModel)]="selectedSourceValue" name="selectedSourceValue"
                            value="{{selectedSourceValue}}" style="color: brown;">
                        <button matSuffix mat-icon-button matTooltip="Click to choose Source value"
                            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                            (click)="openValueChooserSource()">
                            <mat-icon class="chooserIcon">launch</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <mat-label> Target Value</mat-label>
                <!-- Target value chooser -->
                <div class="src-dst-value-list">
                    <mat-form-field style="width: 180px;">
                        <input matInput type="text" [(ngModel)]="selectedTargetValue" name="selectedTargetValue"
                            value="{{selectedTargetValue}}" style="color: brown;">
                        <button matSuffix mat-icon-button matTooltip="Click to choose Target value"
                            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                            (click)="openValueChooserTarget()">
                            <mat-icon class="chooserIcon">launch</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>

            <!-- Add button -->
            <button *ngIf="isParent != false" class="addbtn" mat-raised-button matTooltip="Add mapping into Database"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                (click)="addMapping()">Add</button>

            <p>Please Check Mapping Preview</p>
        </div>
    </mat-card>
</div>