<div>
    <mat-card class="main" style="background-color: #faf6f6">
        <div class="data-mapping">

            <!-- Admin Type form field -->
            <form class="adminType-block">
                <mat-label> Admin Type</mat-label>
                <!-- Admin Type dropdown -->
                <div class="adminType-list">
                    <mat-form-field style="width: 490px;">
                        <mat-select [(ngModel)]="selectedAdminValue" #matSelect name="adminType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let adminType of adminTypeList" [value]="adminType">{{adminType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form> 

            <!-- Src-Dest values form field -->
            <form class="src-dst-value-block">
                <mat-label> Source Value</mat-label>
                <!-- Source value chooser -->
                <div class="src-dst-value-list">
                    <mat-form-field style="width: 180px;">
                        <input [readonly]="true" matInput type="text" [(ngModel)]="selectedSourceValue"
                            name="selectedSourceValue" value="{{selectedSourceValue}}" style="color: brown;">
                        <button matSuffix mat-icon-button matTooltip="Click to choose Source value"
                            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                            (click)="openValueChooserSource()">
                            <mat-icon class="chooserIcon">launch</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <mat-label> Target Value</mat-label>
                <!-- Target value chooser -->
                <div class="src-dst-value-list">
                    <mat-form-field style="width: 180px;">
                        <input [readonly]="true" matInput type="text" [(ngModel)]="selectedTargetValue"
                            name="selectedTargetValue" value="{{selectedTargetValue}}" style="color: brown;">
                        <button matSuffix mat-icon-button matTooltip="Click to choose Target value"
                            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                            (click)="openValueChooserTarget()">
                            <mat-icon class="chooserIcon">launch</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>

            <form *ngIf="isParent == false" style="display: flex;">
                <div class="checkField-block">
                    <mat-checkbox [(ngModel)]="isCharChecked" name="isCharChecked">Invalid Character Check
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="isMandatory" name="isMandatory" style="margin-left: 50px;">Mandatory
                    </mat-checkbox>
                </div>

                <!-- Default Value Textbox-->
                <div style="height: 5px; margin-left: 50px; margin-top: -3px;">
                    <mat-label> Default Value</mat-label>
                    <mat-form-field style="margin-left: 10px; width: 130px; color: brown">
                        <input matInput [(ngModel)]="defaultValue" name="defaultValue">
                    </mat-form-field>
                </div>
            </form>

            <!-- Add button -->
            <button *ngIf="isParent != false" class="addbtn" mat-raised-button matTooltip="Add mapping into Database"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                (click)="addMapping()">Add</button>

            <!-- Modify button -->
            <button *ngIf="isParent == false" class="modbtn" mat-raised-button matTooltip="Modify selected Mapping"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                (click)="modifyMapping()">Modify</button>

            <!-- Cancel button -->
            <button *ngIf="isParent == false" mat-raised-button class="cancelbtn" (click)="cancel()" matTooltip="Cancel"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">Cancel</button>


            <p *ngIf="isParent != false">Please Check Mapping Preview</p>

            <p *ngIf="isParent == false" style="margin-left: 3%;">Please Check on Modify</p>
        </div>
    </mat-card>
</div>