/* custom styling for heading  */

h2 {
    color: #4b4276;
    margin-top: 10px;
}

/* custom styling for Label */

mat-label {
    margin-top: 16px;
}

/* custom styling for Form */

.adminType-block {
    display: flex;
}

.adminType-list {
    margin-left: 20px;
}

.mat-option.mat-active {
    background: #bfbccf !important;
}

::ng-deep .mat-select-value-text {
    color: brown;
}

.src-dst-value-block {
    display: flex;
}

.src-dst-value-list {
    margin-left: 10px;
    margin-right: 35px;
}

/* custom styling for Button */

.addbtn {
    color: white;
    background-color: #4b4276;
    padding: 0px 30px;
    margin-left: 35%;
}

/* custom styling for paragraph  */

p {
    color: brown;
    font-size: small;
    padding-left: 28%;
    margin-top: 10px;
    font-weight: 500;
}

/* custom styling for div  */

.main {
    width: 65vw;
    margin-left: 9em;
    border-radius: 30px 30px 30px 30px;
}

.data-mapping {
    margin-left: 7em;
}

/* custom styling for Chooser Icon  */

.chooserIcon {
    color: brown;
    transform: scale(1.3);
}
.cancelbtn {
    background-color: rgb(172, 71, 71);
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.modbtn {
    color: white;
    background-color: #4b4276;
    padding: 0px 30px;
    margin-left: 27%;

}  

