@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* ---------------------------------------------------
    Header
----------------------------------------------------- */
.topheader{
width: 100%;
height: 8%;
background: #4b4276;
display:flex;
justify-content:space-between;
align-items: center;
}
.brandlogo{
  font-size: 2.1rem;
  padding-left: 2%;
  color: antiquewhite;
  text-transform: uppercase;
}
.menulines{
  font-size: 30px;
  cursor: pointer;
  margin-right:5% ;
  color: antiquewhite;
}
.fa-user-circle{
  color:antiquewhite;
  font-size:30px;
}
.dropdown-toggle{
  color:antiquewhite;
}
.dropdown-item{
  text-decoration: none;
  color: #4b4276;
  padding: 12px;
   border-top: 1px solid rgba(255,255,255,0.05);
}


/* ---------------------------------------------------
    Header
----------------------------------------------------- */
.content{
  /*background-color:aqua;*/
  position: fixed;
  top: 8%;
  left:16%;
  width: 84%;
  bottom:9%;
}
/* ---------------------------------------------------
    Side Bar
----------------------------------------------------- */
#show-sidebar {
    position: fixed;
    left: 0;
    top: 8%;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
  }
  .fa-bars{
    font-weight: 30px;
    color:white;
    text-align: center;
  }
  .hamburger
  {
    width: 20px;
    height: 25px;
    background-color: #4b4276;
  }
.sidenav{
  height:100%;
  width: 15%;
  position:fixed;
  top:7%;
  background: #4b4276;
  overflow-x: hidden;
  padding: 30px 0px;
  transition:all 0.5s;
}
.sidenav a{
  text-decoration: none;
  color: #bdb8d7;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.sidenav a:hover{
  background-color: #594f8d;
}

.fas{  
  width:25px;
}
.sidebarClose{
  text-align: right!important;
  padding-right: 7%!important;
  font-size:20px;
  font-weight: bolder;

}


/* ---------------------------------------------------
    Side Bar
----------------------------------------------------- */
/* ---------------------------------------------------
    Footer
----------------------------------------------------- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4b4276;
  color: white;
  text-align: center;
  height:8%;
}
.fab{
  color:antiquewhite;
  width:5%;
  }
.socialmedia{ 
  position: absolute;
  display: flex;
  transform: translateX(-10%);
}
/* ---------------------------------------------------
    Footer
----------------------------------------------------- */