<div class="parent">
    <h3>Failed Object Information</h3>

    <!-- Form Fields -->
    <div class="displayform">
        <div class="row" style="background-color: #e8e8ec;">
            <div class="col-sm-3">Type</div>
            <div class="col-sm-9">{{responseArray.type}}</div>
        </div>
        <div class="row" style="background-color: #ffffff;">
            <div class="col-sm-3">Name</div>
            <div class="col-sm-9">{{responseArray.name}}</div>
        </div>
        <div class="row" style="background-color: #e8e8ec;">
            <div class="col-sm-3">Revision</div>
            <div class="col-sm-9">{{responseArray.revision}}</div>
        </div>
        <div class="row" style="background-color: #ffffff;">
            <div class="col-sm-3">Filename</div>
            <div class="col-sm-9">{{responseArray.filename}}</div>
        </div>
        <div class="row" style="background-color: #e8e8ec;">
            <div class="col-sm-3">Error/Exception</div>
            <div class="col-sm-9">{{responseArray.error}}</div>
        </div>
    </div>

    <h3 style="margin-top: 10px;">Re-Process</h3>

    <div class="Flag1">

        <!-- form field list-->
        <form class="form-block">
            <!-- Form Field Dropdown -->
            <mat-form-field>
                <mat-select style="height: 30px;" (selectionChange)="selectedFormField($event)" #matSelect placeholder="Select Field Type"
                    [(ngModel)]="fieldValue" name="fieldValue" value="{{fieldValue}}">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let formField of formFieldList" [value]="formField">{{formField}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Old Value Input box -->
            <mat-form-field style="margin-left: 30px;">
                <textarea [readonly]="true" matInput type="text" [(ngModel)]="oldValue" name="oldValue"
                    placeholder="Old Value" value="{{oldValue}}" style="color: brown; font-weight: 500;"></textarea>
            </mat-form-field>

            <!-- New Value Input box -->
            <mat-form-field style="margin-left: 30px;">
                <textarea matInput type="text" [(ngModel)]="newValue" name="newValue" placeholder="Enter New Value"
                    value="{{newValue}}" style="color: brown; font-weight: 500;"></textarea>
            </mat-form-field>

            <!-- Update Button -->
            <button class="updateBtn" mat-icon-button (click)="UpdateData()" matTooltip="Click to update the value"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">
                <mat-icon><i class="fas fa-check-circle"></i></mat-icon>
            </button>
        </form>
    </div>

    <!-- Close button -->
    <div class="footer-block">
        <button mat-raised-button class="closebtn" (click)="close()" matTooltip="Close window"
            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">Close</button>
    </div>
</div>