<div class="parent">
    <form class="header-block">
        <h3>Data Mapping Preview</h3>

        <!-- Search Filter -->
        <div class="search-data">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix><i class="fas fa-search fa-sm" aria-hidden="true" matTooltip="Search for Mapping"
                        matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"></i>
                </mat-icon>
            </mat-form-field>
        </div>
    </form>

    <div class="mat-elevation-z8 data-table">
        <table mat-table matSort [dataSource]="dataMappingListDataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Admin Type Column -->
            <ng-container matColumnDef="adminType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin Type </th>
                <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.adminType}} </td>
            </ng-container>

            <!-- Source Value Column -->
            <ng-container matColumnDef="sourceValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source Value </th>
                <td mat-cell *matCellDef="let element" style="width: 22%;"> {{element.sourceValue}} </td>
            </ng-container>

            <!-- Target Value Column -->
            <ng-container matColumnDef="destinationValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Value </th>
                <td mat-cell *matCellDef="let element" style="width: 22%;"> {{element.destinationValue}} </td>
            </ng-container>

            <!-- Default Value Column -->
            <ng-container matColumnDef="defaultValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Default Value </th>
                <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.defaultValue}} </td>
            </ng-container>

            <!-- ProcessInvalidChars Column -->
            <ng-container matColumnDef="processInvalidChars">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Invalid Character Check </th>
                <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.processInvalidChars}} </td>
            </ng-container>

            <!-- isMandatory Column -->
            <ng-container matColumnDef="isMandatory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mandatory </th>
                <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.isMandatory}} </td>
            </ng-container>

            <!-- isValidSchema Column -->
            <ng-container matColumnDef="isValidSchema">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> isValidSchema </th>
                <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.isValidSchema}} </td>
            </ng-container>

            <!-- File Actions Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" style="width: 5%;">

                    <!-- Modify Button -->
                    <button mat-icon-button (click)="openModifyMappingDialog(element)"
                        matTooltip="Click to modify the Mapping" matTooltipPosition="below" matTooltipHideDelay="100"
                        matTooltipClass="custom-tooltip">
                        <mat-icon><i class="fas fa-edit fa-xs"></i></mat-icon>
                    </button>

                    <!-- Delete Button -->
                    <button mat-icon-button matTooltip="Delete the mapping from table as well as from Database"
                        matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                        (click)="deleteMapping(element.id)">
                        <mat-icon><i class="far fa-trash-alt fa-xs"></i></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;let entry"
                [ngClass]="{ 'highlight': entry.isValidSchema == 'true' }"></tr>

        </table>
    </div>

    <!-- Table Paginator -->
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25,50,75,100]" class="mat-paginator-sticky">
    </mat-paginator>

    <!-- Close button -->
    <div class="footer-block">
        <button mat-raised-button class="closebtn" (click)="close()" matTooltip="Close Mapping Preview"
            matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip">Close</button>
    </div>

</div>