<div class="main">
    <div class="tabs">
        <form class="main-tabs">
            <button class="btn" mat-raised-button matTooltip="Click to view Upload Dashboard" matTooltipPosition="below"
                matTooltipHideDelay="100" matTooltipClass="custom-tooltip">Upload
            </button>
            <button class="btn" mat-raised-button matTooltip="Click to view Transform Dashboard"
                matTooltipPosition="below" matTooltipHideDelay="100" matTooltipClass="custom-tooltip"
                (click)="loadTransformDashboard()" style="margin-left: 120px;">Transform
            </button>
            <button class="btn" mat-raised-button matTooltip="Click to view Load Dashboard" matTooltipPosition="below"
                matTooltipHideDelay="100" matTooltipClass="custom-tooltip" style="margin-left: 120px;">Load
            </button>
        </form>
        <hr style="border: 1px dashed brown; width: 757px; margin-left: -5px;" />
    </div>
</div>