/* custom styling for div  */

.tabs {
    margin-left: 44px;
    margin-top: 20px;
}

.main {
    display: flex;
}

.child{
    /* background-color: #ac8a8d; */
    height: 29.5em;
    max-width: 51.5em;
    margin-left: 315px;
    margin-top:-200px;
}

/* custom styling for button  */

.btn {
    background-color: #4b4276;
    color: white;
    width: 190px;
}

.btn:focus {
    background-color: #a03b43;
    color: white;
    font-weight: 700;
    box-shadow: crimson;
}