/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* custom styling for tooltip  */

.custom-tooltip {
    background-color: #4b4276;
    font-size: 11px;
  }