<body>
<br>

<div class="Features">
    <p>The Product Features <span class="typed-text"></span></p>
    <div id="typed-strings">
       <p> <b style="color:#c72221"> an Intuitive Dashboard</b> </p>
      <p>  <b style="color:#fea92a"> User Friendly Navigation</b></p>
        <p><b style="color:#22c723"> Smart Reprocess Methodology</b></p>
       <p> <b style="color:#c72221"> Partial Transform and Load Facility</b></p>
        <p><b style="color:#fea92a"> Administrator Setting for Customization</b></p>
        <p><b style="color:#22c723"> Export of Reports in Excel Formats </b></p>
    <p><b style="color:#fea92a"> Safety of Data with Encryption Standards</b>
    </p>
    </div>
</div>
<br> 
<div class="parent">
<div class="text">
    <p><br><b>Congratulations!</b> on choosing Data Migration Utility by Persistent Systems!! Now forget all the hassel that the migration involves , DMU is here to do it for you. Just key in data and mappings, and Monitor the process while it does all the work for you.</p>
    <p> This tool will help you smoothly transition from your existing System to Dassault Systemes' ENOVIA.</p>
    
    <div class="animatedbutton animate__animated animate__pulse animate__delay-2s animation-duration: 10s animate__infinite	infinite" (click)="redirecttoUpload()">GET STARTED !!</div>
    
</div>
<div class="container">
    <div class="content">
       <div class="icon"><i class="fas fa-chart-line"></i></div> 
       <div class="desc">
           <h3>Intuitive Dashboard</h3>
           <p>Intuitive Dashboard to track the Progress of Transition.</p>
       </div>
    </div>
    <div class="content">
        <div class="icon"><i class="fas fa-tags"></i></div> 
        <div class="desc">
            <h3>Tagging Window</h3>
            <p>User Friendly Window to Tag the data as per your Existing Systems</p>
        </div>
     </div>
     <div class="content">
        <div class="icon"><i class="fas fa-sync-alt"></i></div> 
        <div class="desc">
            <h3>Smart Reprocess </h3>
            <p>Smart Reprocess Feature to help manage the Failed Objects.</p>
        </div>
     </div>
     <div class="content">
        <div class="icon"><i class="fas fa-random"></i></div> 
        <div class="desc">
            <h3>Partial Migration</h3>
            <p>Partial Transform and Load of selected Files and Objects.</p>
        </div>
     </div>
     <div class="content">
        <div class="icon"><i class="fas fa-user-cog"></i></div> 
        <div class="desc">
            <h3>Personalisation</h3>
            <p>Administrator Setting to customize the tool to look like your own. </p>
        </div>
     </div>
     <div class="content">
        <div class="icon"><i class="fas fa-fingerprint"></i></div> 
        <div class="desc">
            <h3>Secured Data</h3>
            <p>Ensure Safety of your Data while Migration with our Encryption Standards.</p>
        </div>
     </div>

    

</div>
</div>
</body>
    