<body>
<br>

<div class="Features">
    <p>The Product Features <span class="typed-text"></span></p>
    <div id="typed-strings">
       <p> <b style="color:#c72221"> an Intuitive Dashboard</b> </p>
      <p>  <b style="color:#fea92a"> User Friendly Navigation</b></p>
        <p><b style="color:#22c723"> Smart Reprocess Methodology</b></p>
       <p> <b style="color:#c72221"> Partial Transform and Load Facility</b></p>
        <p><b style="color:#fea92a"> Administrator Setting for Customization</b></p>
        <p><b style="color:#22c723"> Export of Reports in Excel Formats </b></p>
    <p><b style="color:#fea92a"> Safety of Data with Encryption Standards</b>
    </p>
    </div>
</div>
<br>
<div id="parent">
    <div class="content">
        <br>
        <br>
        <p><b>Congratulations!</b> on choosing Data Migration Utility by <b>Persistent Systems!! </b>
            Now forget all the hassel that the migration involves , DMU  is here to do it for you. This tool will help you smoothly transition from your existing System to <b>Dassault Systemes' ENOVIA.</b>
        </p>
        <p> Be Informed that your data is safe with us! Our <b>Encryption Standards</b> ensures that no proprietary or personal data is exposed while it is migrated.
            <b>Pre and Post Process Validations</b>, ensure that the Migration Process completes with minimum errors.
        </p>   
        <p>
            In case of Failure, <b>Smart Reprocess</b> allows you to identify the cause and provides you with an option to <b>Manualy Recify </b> your data from the Interface itself. 
            All you have to do is  Just key in data and mappings, and Monitor the process while it does all the work for you.
      
        </p>
        <p>
            
        </p>
        <p><b>Cheers!</b> on using Data Migration Utility.</p>
        </div>
        <div class="spinner">
            <img src="/assets/images/trial400.gif" alt="description of gif" />
            
        </div>
</div>

    
    
</body>
    